/*
    estado
    permite definir o estilo de diferentes estados
    do elemento html

    :hover - mouse passando por cima
    :focus - elemento em foco
    :active - quando clicamos no elemento
    :visited - links que foram visitados

    seletores
    :first-child - seleciona o primeiro elemento da lista
    :last-child - seleciona o ultimo elemento da lista
    :nth-child(4) - seleciona o QUARTO elemento da lista
            even, odd,
    :nth-child(3n) - seleciona de 3 em 3
    :not - nega uma seleção

*/

:root {
    font-size: 16px;
}

body{
    font-family: sans-serif;
    margin: 40px;
}

a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: aliceblue;
    background: rgb(203, 164, 240);
}