@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Viga&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans", sans-serif ;
    font-size: 1.5vw;
    background-color: rgb(229, 229, 229);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #a6a5a2;
    width: 100vw;
    height: 70px;
}

header h1 {
    font-size: 42px;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 6px;
    margin-left: 14px;
    
}

.container-erro{
  display: flex;
  justify-content: center;
}

.erro {
  background-color: red;
  text-align: center;
  height: 50px;
  width: auto;
  max-width: 50%;
  margin-top: 30px;
  font-size: 20px;
  color: white;
  padding: 3px 3px 3px 3px;
}

#btn {
    border-style: unset;
    width: 3vw;
    height: 1vw;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 36px;
    margin-top: 16px;
    margin-left: 20px;
}

:focus #btn {
    transition: 0.4s;
    font-size: 2.9vw;
}

.menu {
    height: 100%;
    text-align: left;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a6a5a2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1vw;
  }

  .container-opcoes {
    margin-top: 42px;
    gap: 5px;
  }
  
  .opcao-menu {
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #3a3838;
    display: block;
    transition: 0.3s;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
  }
  
  .menu a:hover {
    color: #f1f1f1;
  }

  .botao-fechar {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    margin-left: 15px;
    text-decoration: none;
    color: #3a3838;
  }

  .h2 {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    margin-left: 37%;

}

  .container-formulario{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .formulario {
    width: 29%;
    display: flex;
    flex-direction: column;
  }

  #nome, #valor, #descricao, #quantidade {
    height: 30px;
    width: 400px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px rgb(165, 165, 165);
  }

  #nome:focus, #valor:focus, #descricao:focus, #quantidade:focus {
    border: 1px solid green;
    outline: none;
  }

  #imagem {
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .botao-cadastrar {
    margin-top: 30px;
    width: 160px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: green;
    font-weight: 600;

  }

  .botao-cadastrar:hover{
    background-color: #2d9521;
    transition: 0.2s;
  }

/*
quando a tela for até 

*/
  @media screen and (max-width: 1015px){
    

    header h1 {
    margin-left: 14px;
    margin-top: 6px;

    }


  }

  @media screen and (max-width: 865px){
    
    .container-opcoes {
      margin-top: 55px;
      gap: 5px;
    }
    
    .opcao-menu {
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      height: 30px;
      color: #3a3838;
      display: block;
      transition: 0.3s;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
    }


  header h1 {
    margin-left: 20px;
    margin-top: 6px;

  }

  }

  @media screen and (max-width: 650px){

  header h1 {
    margin-left: 25px;
    margin-top: 6px;

  }

  }

  @media screen and (max-width: 400px){
  header {
    height: 50px;
  }

  #titulo {
    font-size: 34px;
  
  }

  #btn {
    font-size: 26px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px;
  }



  }


