@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Viga&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans", sans-serif ;
    font-size: 1.5vw;
    background-color: rgb(229, 229, 229);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #a6a5a2;
    width: 100vw;
    height: 70px;
}

header h1 {
    font-size: 42px;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 6px;
    margin-left: 14px;
    
}


.h2 {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;

}

#btn {
    border-style: unset;
    width: 3vw;
    height: 1vw;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 36px;
    margin-top: 16px;
    margin-left: 20px;
}

:focus #btn {
    transition: 0.4s;
    font-size: 2.9vw;
}

.menu {
    height: 100%;
    text-align: left;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a6a5a2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1vw;
  }

  .container-opcoes {
    margin-top: 42px;
    gap: 5px;
  }
  
  .opcao-menu {
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #3a3838;
    display: block;
    transition: 0.3s;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
  }
  
  .menu a:hover {
    color: #f1f1f1;
  }

  .botao-fechar {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    margin-left: 15px;
    text-decoration: none;
    color: #3a3838;
  }


  .container-produtos {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    gap: 1vw;
  }

  .produto {
    background-color: #a6a5a2;
    height: 360px;
    width: 310px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
  }

 .produto:hover {
    background-color: #c7c5c1;
    transition: 0.3s;
  }

  .container-imagem{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
  }

  .produto img {
    max-width: 250px;
    height: auto;
    max-height: 180px;
    padding-top: 20px;
    
  }


  .nome-produto {
    font-size: 20px;
    color: black;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
  }

  .produto p {
    color: rgb(46, 44, 44);
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 290px;
  }

  #preco {
    font-size: 22px;
    color: black;
    padding-top: 3px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-weight: 500;
  }

/*
quando a tela for até 

*/
  @media screen and (max-width: 1015px){
    .produto {
      height: 450px;
      width: 400px;
      border-radius: 20px;
      margin-bottom: 20px;
    }

    .produto img {
      max-width: 325px;
      height: auto;
      max-height: 255px;
      padding-top: 20px;
      
    }
    .nome-produto {
      font-size: 24px;
      padding-top: 15px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .produto p {
      color: rgb(46, 44, 44);
      font-size: 18px;
      padding-left: 35px;
      padding-right: 25px;
      max-width: 290px;
    }

    #preco {
    font-size: 26px;
    padding-top: 3px;
    padding-left: 35px;
    padding-bottom: 35px;
    font-weight: 500;
    }

    header h1 {
    margin-left: 14px;
    margin-top: 6px;

    }


  }

  @media screen and (max-width: 865px){
    
    .container-opcoes {
      margin-top: 55px;
      gap: 5px;
    }
    
    .opcao-menu {
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      height: 30px;
      color: #3a3838;
      display: block;
      transition: 0.3s;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
    }


    .h2{
      font-size: 20px;
      padding: 10px 5px 10px 10px;
    }
    
    .produto {
      height: 235px;
      width: 185px;
      border-radius: 15px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    
    }

    .produto img {
      max-width: 145px;
      height: auto;
      max-height: 115px;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      
    }
    .nome-produto {
      font-size: 12px;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      overflow-y: hidden;
      height: 40px;

    }

    .produto p {
      color: rgb(46, 44, 44);
      font-size: 10px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: justify;
      max-width: 290px;
    }

  #preco {
    font-size: 16px;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: 500;
    height: 20px;
  }

  .container-produtos {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0.5%;
    margin-right: 1%;
    gap: 10px;
  }

  .container-imagem {
    width: 100%;
    height: 72%;
    display: flex;
    justify-content: center;
  }

  header h1 {
    margin-left: 20px;
    margin-top: 6px;

  }

  }

  @media screen and (max-width: 650px){

  header h1 {
    margin-left: 25px;
    margin-top: 6px;

  }

  }

  @media screen and (max-width: 400px){
  header {
    height: 50px;
  }

  #titulo {
    font-size: 34px;
  
  }

  #btn {
    font-size: 26px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px;
  }



  }


