:root{
    font-size: 16px;
}

body{
    font-family: sans-serif;
    margin: 40px;
}

.carro {
    height: 100vh;
    background-color: rgb(130, 230, 121);
    background-image: url(../imgs/Chevrolet-Classic-2016\ \(2\).jpg);
    background-size: cover;
    background-position: center top;
}

.carro h1{
    margin: auto;
    background-color: rgb(74, 164, 243);
    padding: 2rem;
}